{% extends 'base/base.html' %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}
{% block page_content %}
    <div class="choose-bar">
        <span class="font_size_16">全部作品</span>
        <div class="menu">
            <a href="" class="font_size_16">热门</a>
            <i>/</i>
            <a href="" class="font_size_16">最新</a>
            <i>/</i>
            <a href="" class="font_size_16">精选</a>
        </div>
    </div>
    <div class="chanel-icon">
        <ul class="video-list">
            {% for movie in movies %}
                <li class="video-one">
                    <a class="video-image" href=""><img src="{{ movie.image_url }}" alt=""></a>
                    <div class="video-data">
                        <a href="{{ url_for('home.detail') }}"><p class="video-title">{{ movie.title }}</p></a>
                        <div class="video-view">
                            <span class="font_12"><span class="views">播放</span> {{ movie.views }}</span>
                            <span class="views font_12">&nbsp;&nbsp;|&nbsp;</span>
                            <span class="font_12"><span class="views">喜欢</span> {{ movie.good }}</span>
                        </div>
                        <div class="user-info">
                            <span class="font_12 user">
                                <a href="" class="font_12">{{ movie.auth }}</a>
                                <a href="" class="vocation font_12">{{ movie.vocation }}</a>
                            </span>
                            {#                            <span class="font_12">  |  </span>#}
                            {##}
                            {#                            <span class="font_12 vocation">{{ movie.vocation }}</span>#}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <hr>
    {{ pagination_show(pagination, 'home.index') }}
{% endblock %}