{% extends 'base/base.html' %}
{% block page_content %}
        <div style="margin:30px 140px">
    <video width="800" height="" controls="controls" poster="{{ url_for('static', filename='image/bg2.jpg') }}">
        <source src="{{ url_for('home.handler') }}" type="video/mp4" >
{#        <source src="http://qiniu-xpc0.xpccdn.com/5a3168ebe17b7.mp4" type="video/mp4">#}
{#        <object width="" height="" type="application/x-shockwave-flash" data="myvideo.swf">#}
{#            <param name="movie" value="myvideo.swf"/>#}
{#            <param name="flashvars" value="autostart=true&amp;file=myvideo.swf"/>#}
{#        </object>#}
        当前浏览器不支持 video直接播放，点击这里下载视频： <a href="myvideo.webm">下载视频</a>
    </video>

        </div>
{% endblock %}